<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ht.mappergenerator.mapper26.VpsMapper" >
    <resultMap id="BaseResultMap" type="ht.model.model26.Vps" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="rid" property="rid" jdbcType="VARCHAR" />
        <result column="GRNDATE" property="GRNDATE" jdbcType="TIMESTAMP" />
    </resultMap>
    <select id="selectGrnByDate" parameterType="ht.model.model26.Vps" resultMap="ResultMap">
        select *
        from (
            select grn, partNumber, printQTY, rid, plent, GRNDATE, GRN103, UpAegisDATE
            from vendorrid
            where
                convert(varchar(10),GRNDATE,23) between ${currentDate} and ${dateSub2}
              and
                printQTY != 0.0
              and
                plent in ('1100','5000')
            union
            select grn, partNumber, printQTY, rid, plent, GRNDATE, GRN103, UpAegisDATE
            from pcbvendorrid
            where
                convert(varchar(10),GRNDATE,23) between ${currentDate} and ${dateSub2}
              and
                printQTY <> 0.0
              and
                plent in ('1100','5000') )m
        order by grn, partNumber
    </select>
</mapper>